{% extends 'back.html.twig' %} 


 {% block org %}
 <title>Association index</title>
    <h1>Available NGOs</h1>

    <table class="w3-table w3-striped">
        <thead class="w3-dark-grey">
            <tr>
                <th>Id</th>
                <th>Nom Association</th>
                <th>Logo Association</th>
                <th>Description</th>
                <th>Adresse Association</th>
                <th>RIB</th>
                

                <th>actions</th>
                 <th>actions</th>
                  <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for association in associations %}
            <tr>
                <td>{{ association.id }}</td>
                <td>{{ association.nomAssociation }}</td>
                <td>{{ association.logoAssociation }}</td>
                <td>{{ association.descriptionAsso }}</td>

                <td>{{ association.adresseAssociation }}</td>
                <td>{{ association.RIB }}</td>
                 <td>
    
    <button class="btn" style="color: blue;" onclick="window.location.href='{{ path('app_association_showback', {'id': association.id}) }}'">
        <i class="fa fa-eye"></i> Show
    </button>
</td>



                     <td><button class="btn" style="color: green;" onclick="window.location.href='{{ path('app_association_edit', {'id': association.id}) }}'">
        <i class="fa fa-edit"></i> Edit
    </button> </td>
                         <td>{{ include('association/_delete_form.html.twig') }}</td>
                    
                {# <td>
                    <a href="{{ path('app_association_showback', {'id': association.id}) }}">show</a>
                     <a href="{{ path('app_association_edit', {'id': association.id}) }}">edit</a> 
                     {{ include('association/_delete_form.html.twig') }} 
                 </td> #}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 
<a href="{{ path('app_association_new') }}" class="btn btn-success">
        <i class="fas fa-add"></i> Create new
    </a>
     {# <a href="{{ path('app_association_new') }}">Create new</a>  #}
 {% endblock %} 




{# {% extends 'back.html.twig' %}

{% block org %}
    <title>Association index</title>
    <h1>Available NGOs</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom Association</th>
                <th>Logo Association</th>
                <th>Description</th>
                <th>Adresse Association</th>
                <th>RIB</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for association in associations %}
                <tr>
                    <td>{{ association.id }}</td>
                    <td>{{ association.nomAssociation }}</td>
                    <td>{{ association.logoAssociation }}</td>
                    <td>{{ association.descriptionAsso }}</td>
                    <td>{{ association.adresseAssociation }}</td>
                    <td>{{ association.RIB }}</td>
                    <td>
                        <a href="{{ path('app_association_showback', {'id': association.id}) }}" class="btn btn-info">
                            <i class="fas fa-eye"></i> Show
                        </a>
                        <a href="{{ path('app_association_edit', {'id': association.id}) }}" class="btn btn-primary">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        {{ include('association/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_association_new') }}" class="btn btn-success">
        <i class="fas fa-plus"></i> Create new
    </a>
{% endblock %} #}


