
{% extends 'back.html.twig' %} 


 {% block org %}
 <title>Association index</title>
    <h1>Association index</h1>

    <table class="w3-table w3-striped">
        <thead class="w3-dark-grey">
            <tr>
                <th>Id</th>
                <th>Nom Association</th>
                <th>Logo Association</th>
                <th>Description</th>
                <th>Adresse Association</th>
                <th>RIB</th>
                

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for association in associations %}
            <tr>
                <td>{{ association.id }}</td>
                <td>{{ association.nomAssociation }}</td>
                <td>{{ association.logoAssociation }}</td>
                <td>{{ association.descriptionAsso }}</td>

                <td>{{ association.adresseAssociation }}</td>
                <td>{{ association.RIB }}</td>
                
                <td>
                    <a href="{{ path('app_association_showback', {'id': association.id}) }}">show</a>
                     <a href="{{ path('app_association_edit', {'id': association.id}) }}">edit</a> 
                 </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 

     <a href="{{ path('app_association_new') }}">Create new</a> 
 {% endblock %} 