{% extends 'HomeOn.html.twig' %}

{% block titreprod %}<title>ProduitTroc</title> {% endblock %}

{% block body %}
    <h1>ProduitTroc</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit_troc.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produit_troc.nom }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ produit_troc.category }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit_troc.description }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>
    {% if produit_troc.statut == 0 %}
        Not Checked
    {% else %}
        Checked
    {% endif %}
</td>
                
            </tr>
            <tr>
                <th>Image</th>
{% if produit_troc.image %}
    <img src="{{ asset('path/to/images_directory/' ~ produit_troc.image) }}" alt="Product Image">

{% endif %}            </tr>
            <tr>
                <th>Product searched for</th>
                <td>{{ produit_troc.nomProduitRecherche }}</td>
            </tr>
        </tbody>
    </table>

  <a href="{{ path('app_produit_troc_index') }}" class="btn btn-link">Back to List</a>

<a href="{{ path('app_produit_troc_edit', {'id': produit_troc.id}) }}" class="btn btn-link">Edit</a>

<form method="post" action="{{ path('app_produit_troc_delete', {'id': produit_troc.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit_troc.id) }}">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>




{% endblock %}
