{# {% extends 'front.html.twig' %}

{% block title %}New ProdR{% endblock %}

{% block body %}
    <h1>Create new ProdR</h1>

    {{ include('prod_r/_form.html.twig') }}

    <a href="{{ path('app_prod_r_index') }}">back to list</a>
{% endblock %} #}
{% extends 'back.html.twig' %}

{% block title %}New ProdR{% endblock %}

{% block body %}
{{ parent() }}
{% endblock %}
{% block recyclage %}
    <h1>Create new ProdR</h1>

    <form method="post" action="{{ path('app_prod_r_back_new') }}">
        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                    <fieldset class="p-3">        {# {{ form_row(form.statut, {'attr': {'class': 'form-control'}}) }} #}
        {# {{ form_errors(form.statut) }} Afficher les erreurs de validation du champ statut #}
    
  {# {{ form_row(form.user_id, {'attr': {'class': 'form-control'}}) }} #}
        {# {{ form_errors(form.user_id) }} #}
          {{ form_row(form.user_id, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.user_id) }}
        {{ form_row(form.statut, {'attr': {'class': 'form-control'}}) }}
        {# {{ form_errors(form.statut) }} #}
        {{ form_row(form.ptc_id, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.ptc_id) }}
        {{ form_row(form.typeProd_id, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.typeProd_id) }}
        {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.description) }} {# Afficher les erreurs de validation du champ description #}
        {{ form_row(form.nomP, {'attr': {'class': 'form-control'}}) }}
        {# {{ form_errors(form.nomP) }} Afficher les erreurs de validation du champ nomP #}
        {{ form_row(form.save, {'attr': {'class': 'btn'}}) }}
        {{ form_end(form) }}

        <a href="{{ path('app_prod_r_back_index') }}">back to list</a>
    </form>
{% endblock %}
