{% extends 'back.html.twig' %}

{% block titre %}<title>Edit Blog</title>{% endblock %}


{% block body %}
<section class="advt-post bg-gray py-5">
  <div class="container">
    <form action="#!" method="POST">
      <!-- Post Your ad start -->
      <fieldset class="border border-gary px-3 px-md-4 py-4 mb-5">
        <div class="row">
          <div class="col-lg-12">
<body class="body-wrapper">
    <section class="advt-post bg-gray py-5">
        <div class="container">
            <form method="post" action="{{ path('app_back_blog_edit') }}" enctype="multipart/form-data">
                {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

                <!-- Post Your ad start -->
                <fieldset class="border border-gary px-3 px-md-4 py-4 mb-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Post  blog</h3>
                        </div>
                        <div class="col-lg-6">
                              <h6 class="font-weight-bold pt-4 pb-1">
                             
</h6>

                          
                        </div>
                        <div>
                         
                            
 
                   
                        </div>
                        </div>
                       

                        
 <!-- Post Your ad end -->

                <!-- Checkbox for terms and conditions -->
               {{ form_label(form.titre) }}
{{ form_widget(form.titre, {'attr': {'class': 'form-control bg-whitel', 'placeholder': 'Ad title goes here'}, 'help_attr': {'style': 'color: red;'}}) }}
                    {{ form_errors(form.titre) }}
                    {{ form_label(form.category) }}
                         {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.category) }}
   {{ form_label(form.rate) }}
{{ form_widget(form.rate, {'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.rate) }}
                     {{ form_label(form.status) }}
                     {{ form_widget(form.status, {'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.status) }}
                      {{ form_label(form.contenu_blog) }}
                     {{ form_widget(form.contenu_blog, {'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.contenu_blog) }}


                <!-- Submit buttons -->
               <button type="submit" class="btn btn-primary"> save </button>
                    </div>
            

                </fieldset>
                               </fieldset>

                
                {{ form_end(form) }}
            </form>
        </div>
                </div>
        </div>

                                </div>
 </form>
    </section>
        </section>

</body>
{% endblock %}