{% extends 'back.html.twig' %}
{% block Commande%}
    <div class="container">
        <Br>
        <div class="w3-table w3-striped">
            <table class="table table-bordered" id="orderback">
                <script src="{{ asset('/assets/js/jquery.min.js') }}"></script>

                <input type="text" class="form-control" placeholder="Chercher" id="search3">
                <br>
                <thead class="w3-dark-grey">
                <tr>
                    <th>Name User</th>
                    <th>State</th>
                    <th>Date</th>
                    <th>DELETE</th>

                </tr>
                </thead>
                <tbody>
                {% for a in commande %}
                    <tr>
                        <td>{{ a.idUserC.nom }}</td>
                        <td>{{ a.etat }}</td>
                        <td>{{ a.date|date('d/m/Y') }}</td>
                        <td>
                            <a href="{{ path('delete_Order',{'id':a.id}) }} ">
                                <i class="fa fa-trash"></i>
                            </a>                        </td>

                    </tr>
                {% endfor %}
                <script>
                    $(document).ready(function(){
                        $('#search3').keyup(function(){
                            search_table($(this).val());
                        });
                        function search_table(value){
                            $('#orderback tbody tr').each(function(){
                                var found = 'false';
                                $(this).each(function(){
                                    if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                    {
                                        found = 'true';
                                    }
                                });
                                if(found == 'true')
                                {
                                    $(this).show();

                                }
                                else
                                {
                                    $(this).hide();

                                }
                            });
                        }
                    });
                </script>
                </tbody>
            </table>
            <Br>
            <Br>
        </div>
    </div>
    {% block Add %}
        <a href="{{ path('pdf_generate') }}" class="btn btn-primary">Download PDF</a>

    {% endblock %}
{% endblock %}