

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    <section class="login py-5 border-top-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-8 align-item-center">
                    <div class="border border">
                        <h3 class="bg-gray p-4">Material goods donation</h3>
                    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                    <fieldset class="p-4">
                        {{ form_row(form.photoDon, {'attr': {'class': 'form-control mb-3'}}) }}
                        
                        
                        {# {{ form_row(form.descriptionDon, {'attr': {'class': 'form-control'}, 'help_attr': {'style': 'color: red;'}}) }} #}
                         {{ form_row(form.descriptionDon, {'attr': {'class': 'form-control'}}) }}
                        {% if form_errors(form.descriptionDon) %}
        <div class="alert alert-danger mt-2 mb-0" role="alert">
          {{ form_errors(form.descriptionDon) }}
        </div>
      {% endif %}
        
                        {# {{ form_row(form.descriptionDon, {'attr': {'class': 'form-control mb-3'}})}} #}
                        {# {{ form_row(form.statutDon, {'attr': {'class': 'form-control mb-3'}}) }} #}
                        {{ form_row(form.dateDonBienMateriel)}}

                         {{ form_row(form.id_association, {'attr': {'class': 'form-control mb-3'}}) }} 
                        {# <p>{{don_bien_materiel.id_association}}</p> #}
                
                        {# {{ form_row(form.user_id, {'attr': {'class': 'form-control mb-3'}}) }} #}
                        {# {{ form_row(form.password, {'attr': {'class': 'form-control mb-3'}}) }}
                        {{ form_row(form.Confirmpassword, {'attr': {'class': 'form-control mb-3'}}) }}
                        {{ form_row(form.age, {'attr': {'class':'form-control mb-3'}}) }} #}
                    {{ form_end(form) }}
                        <br>

                        {# <button class="btn" style="color: blue;" onclick="window.location.href='{{ path('app_don_bien_materiel_index') }}'"> #}
        <i class="fas fa-arrow-left"></i><a href="{{ path('app_don_bien_materiel_index') }}">back to list</a>
    {# </button> #}
                        {# <div class="loggedin-forgot d-inline-flex my-3">
                            <input type="checkbox" id="registering" class="mt-1">
                            {# <label for="registering" class="px-2">By registering, you accept our <a class="text-primary font-weight-bold" href="terms-condition.html">Terms & Conditions</a></label> #}
                        {# </div> #} 
                    </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}
