{% extends 'back.html.twig' %} 
{% block donbien %}
<title>DonBienMateriel index</title>
    <h3>List of all donations</h3> 

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Picture</th>
                <th>Status</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for don_bien_materiel in don_bien_materiels %}
            <tr>
                <td>{{ don_bien_materiel.id }}</td>
                <td>{{ don_bien_materiel.descriptionDon }}</td>
                <td><img class="card-img-top img-fluid" src="{{ asset('uploads/images/' ~ don_bien_materiel.photoDon) }}" alt="Card image cap" style="height: 100px;width: 100px";></td>
                <td>{{ don_bien_materiel.statutDon ? 'Checked' : 'Not checked' }}</td>
                <td>{{ don_bien_materiel.dateDonBienMateriel ? don_bien_materiel.dateDonBienMateriel|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_don_bien_materiel_showback', {'id': don_bien_materiel.id}) }}">show</a>
                    <a href="{{ path('app_don_bien_materiel_edit', {'id': don_bien_materiel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_don_bien_materiel_new') }}">Create new</a> #}
{% endblock %}
