{% extends 'HomeOn.html.twig' %}

{% block body %}
  <h1 style="text-align: center;">Editer votre réponse</h1>
  <div class="form-add">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    
    <div class="form-group">
      {{ form_label(form.contenu, "Contenu", {'label_attr': {'class': 'form-label'}}) }}
      {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
      {% if form_errors(form.contenu) %}
        <div class="alert alert-danger mt-2 mb-0" role="alert">
          {{ form_errors(form.contenu) }}
        </div>
      {% endif %}
    </div>
    
    <div class="form-group">
      {{ form_label(form.date, "Date", {'label_attr': {'class': 'form-label'}}) }}
      {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
      {% if form_errors(form.date) %}
        <div class="alert alert-danger mt-2 mb-0" role="alert">
          {{ form_errors(form.date) }}
        </div>
      {% endif %}
    </div>
    
    <div class="form-group">
      {{ form_label(form.nb_likes, "Nombre de Likes", {'label_attr': {'class': 'form-label'}}) }}
      {{ form_widget(form.nb_likes, {'attr': {'class': 'form-control'}}) }}
      {% if form_errors(form.nb_likes) %}
        <div class="alert alert-danger mt-2 mb-0" role="alert">
          {{ form_errors(form.nb_likes) }}
        </div>
      {% endif %}
    </div>
    
    <div class="form-group">
      {{ form_label(form.blog, "Blog", {'label_attr': {'class': 'form-label'}}) }}
      {{ form_widget(form.blog, {'attr': {'class': 'form-control'}}) }}
      {% if form_errors(form.blog) %}
        <div class="alert alert-danger mt-2 mb-0" role="alert">
          {{ form_errors(form.blog) }}
        </div>
      {% endif %}
    </div>
    
    <div class="form-group">
      {{ form_label(form.id_user_reponse, "ID utilisateur réponse", {'label_attr': {'class': 'form-label'}}) }}
      {{ form_widget(form.id_user_reponse, {'attr': {'class': 'form-control'}}) }}
      {% if form_errors(form.id_user_reponse) %}
        <div class="alert alert-danger mt-2 mb-0" role="alert">
          {{ form_errors(form.id_user_reponse) }}
        </div>
      {% endif %}
    </div>
    
    <div style="padding-top: 10px;"></div>
    <div class="form-group">
      {{ form_row(form.save, {
        'label': 'Save',
        'attr': {
          'class': 'btn btn-primary font-weight-bold mt-3',
          'type': 'submit'
        }
      }) }}
    </div>
    
    {{ form_end(form) }}
  </div>
{% endblock %}
