{% extends 'HomeOn.html.twig' %}

{% block title %}New Message{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('front/assets/css/message.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if form_errors(form) %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form._token) }}

    <div class="container">
        <div class="page-title">
            <div class="row gutters">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <h5 class="title">Chat App</h5>
                </div>
            </div>
        </div>

        <div class="content-wrapper" style="margin-top: 60px">
            <div class="row gutters">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                    <div class="users-container">
                        <div class="chat-search-box">
                            <div class="input-group">
                                <input class="form-control" placeholder="Search">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-info">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                    <div class="selected-user">
                        <span>To: <span class="name">{{nom}}</span></span>
                    </div>

                    <div class="chat-container">
                        <div class="form-group mt-3 mb-0">
                            <div class="form-group">
                                {{ form_label(form.content) }} {# Adjusted field name #}
                                {{ form_widget(form.content) }} {# Adjusted field name #}
                                {{ form_errors(form.content) }} {# Adjusted field name #}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-outline-success">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
