{% extends 'HomeOn.html.twig' %}

{% block title %}ProdR index{% endblock %}

{% block body %}
<style>

 .page-search {
    background-color: black; /* Couleur de fond */
}

.page-search .advance-search .form-control {
    background-color: 058C4B; /* Couleur de fond des champs de saisie */
    color: white; /* Couleur du texte */
    border-color: #058C4B; /* Couleur de la bordure */
            width: 1000px; /* Largeur à 100% */
}

.page-search .advance-search select.form-control {
    background-color: 058C4B; /* Couleur de fond du menu déroulant */
    color: white; /* Couleur du texte du menu déroulant */
    border-color: darkgreen; /* Couleur de la bordure du menu déroulant */
    margin-right: 0; /* Déplacer le bloc à droite en utilisant la marge automatique à gauche */


}
 button.btn-primary {
    background-color: darkgreen; /* Couleur de fond du bouton de recherche */
    border-color: darkgreen; /* Couleur de la bordure du bouton de recherche */
    color: white; /* Couleur du texte du bouton de recherche */
}
 button.btn-primary:hover {
    background-color: green; /* Couleur de fond du bouton de recherche au survol */
    border-color: green; /* Couleur de la bordure du bouton de recherche au survol */
}

</style>
   <section class="page-search">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<!-- Advance Search -->
				<div class="advance-search nice-select-white">
					<form>
						<div class="form-row align-items-center">
							<div class="form-group col-xl-4 col-lg-3 col-md-6"  >
								<input type="search" class="form-control my-2 my-lg-0" id="search" placeholder="What are you looking for">
							</div>
							{# <div class="form-group col-lg-8 col-md-6">
								<select class="w-50 form-control my-3 my-lg-9 float-right"  id="typeFilter">
  {% for typeDispo in typeDispos %}
                                            <option value="{{ typeDispo.getId() }}">{{ typeDispo.getNom() }}</option>
                                        {% endfor %}							
									
								</select>
							</div> #}
						
						
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
    <!--==================================
    =            User Profile            =
    ===================================-->
    <section class="dashboard section">
        <!-- Container Start -->
        <div class="container">
            <!-- Row Start -->
            <div class="row">
                <div class="col-lg-12">
                    {# <div class="sidebar"> #}
                       
                {# <div class="col-lg-8"> #}
                    <h4> <a href="{{ path('app_pt_collect_indexMap') }}">GO TO MAP</a></h4>
            

                    <!-- Recently Favorited -->
                    <div class="widget dashboard-container my-adslist">
                        {# <h3 class="widget-header">My products</h3> #}
                        <table class="table table-responsive product-dashboard-table" id="tableac">
                            <thead>
                                    <tr>
                                    {# <th>Image</th> #}
                                 {# <span style="color:#333333;" "font-size: 27px;">   <th>Product Title</th></span #}
<th><span style="color: #333333; font-size: 22px;">Collect point </span></th>

                                   {# <th class="text-center"> <span style="color:#333333;font-size: 17px;">Available types</span></th> #}
                                   <th > <span style="color:#333333;font-size: 17px;">Available types</span></th>
                                    {# <th class="text-center">Action</th> #}
                                    {# <th class="text-center">Delete?</th> #}
                                </tr>
                            </thead>
                            <tbody>
                                {% for pt_collect in pt_collects %}
                                    <tr class="searchable-row">
                                    {# <td class="product-thumb">
                                        <img width="80px" height="auto" src="images/products/products-1.jpg" alt="image description"></td> #}
                                    <td class="product-details">
<h3 class="title"><strong><span style="color:#5672F9;">{{ pt_collect.getNomPc() }}</span></strong></h3>
                                        <span class="add-id"><strong>CP ID:</strong> {{ pt_collect.getId() }}</span>
                                        {# <span><strong>Posted on: </strong><time>Jun 27, 2017</time> </span> #}
                                        {# <span class="status active"><strong>Status</strong>Active</span> #}
    {# {% if prod_r.statut %}
        <span class="status active"><strong>Status</strong>Checked</span>
    {% else %}
        <span class="status inactive" style="color: red;" ><strong>Status</strong>Not checked</span>
    {% endif %} #}
                                        <span class="location"><strong>Location</strong>{{ pt_collect.getAdressePc() }}</span>
                                    </td>
<td class="product-category">
    <span class="categories">
        {# {% for item in pt_collect %}
            {{ item.type }} 
        {% endfor %} #}
   {% for typeDispo in pt_collect.getType() %}
                 <strong>  <span style="color:green;"> {{ typeDispo.getNom() }}</span></strong>
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
    </span>
</td>
                                    <td class="action" data-title="Action">
                                        <div class="">
                                            <ul class="list-inline justify-content-center">
                                                {# <li class="list-inline-item">
                                                    <a data-toggle="tooltip" data-placement="top" title="view" class="view" href="{{ path('app_prod_r_show', {'id': prod_r.id}) }}">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="edit" data-toggle="tooltip" data-placement="top" title="Edit" href="{{ path('app_prod_r_edit', {'id': prod_r.id}) }}">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </li> #}
                                                {# <li class="list-inline-item">
                                                 <td>
                                                    <form method="post" action="{{ path('app_prod_r_delete', {'id': prod_r.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prod_r.id) }}">
    <button class="btn" style="color: red;" ><i class="fa fa-trash">Delete</i></button>                
</form></td> 
                                                    </a>
#}
                                                     
                
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="6">no records found</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Pagination -->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </section>
    <!--==================================
    =            User Profile            =
    ===================================-->

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            // Fonction pour filtrer le tableau en fonction de la valeur de recherche
            function search_table(value){
                $('#tableac tbody tr.searchable-row').each(function(){
                    var found = false;
                    $(this).find('td:first-child').each(function(){ // Modifier le sélecteur si nécessaire
                        if($(this).text().toLowerCase().includes(value.toLowerCase())){
                            found = true;
                            return false;
                        }
                    });
                    if(found){
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }

            // Effectue la recherche lorsqu'une touche est relâchée dans le champ de recherche
            $('#search').keyup(function(){
                search_table($(this).val());
            });

        });
              // Effectue la recherche lorsqu'une touche est relâchée dans le champ de recherche
            $('#search').keyup(function(){
                search_table($(this).val());
            });
            // Filtrer le tableau en fonction de la catégorie sélectionnée
            $('#typeFilter').change(function() {
                var typeId = $(this).val();
                if (typeId !== '') {
                    $('#tableac tbody tr').hide().filter(function() {
                        return $(this).find('td:nth-child(3)').text().trim() === typeId.trim();
                    }).show();
                } else {
                    $('#tableac tbody tr').show();
                }
            });
     

    </script>
{% endblock %}
